<container class="card">

  <spacer size="40"></spacer>

  <row>
    <columns small="12" large="10" class="large-offset-1 no-padding-bottom">
      <h1 class="text-center">Connect Clubhouse with the rest of your workflow</h1>
    </columns>
    <columns small="12" large="1" class="show-for-large"></columns>
  </row>

  <row>
    <columns class="xtra-padding-horizontal no-padding-bottom">
      <spacer size="16"></spacer>
      <center>
        <img src="https://prismic-io.s3.amazonaws.com/clubhouse/f4150006-46d3-4c00-a1f3-ca6d468c399d_drip_3_hero.png?auto=compress,format" width="441" height="226" alt="Integrations">
        <spacer size="16"></spacer>
        <p class="text-center text-light no-margin-bottom">Connect Clubhouse with your favorite tools. And with tools that you think are pretty good. And also with tools you feel kinda meh about. Clubhouse has a lot of integrations.</p>
        <spacer size="16"></spacer>
      </center>
    </columns>
  </row>

  <row>
    <columns class="xtra-padding-horizontal">
      <hr class="hr"/>
    </columns>
  </row>

  {{> listItem
    title="Your Code"
    description=descGithub
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/b0b82b5e-e639-4144-af56-5758fe6acaac_drip_3_icon_1.png?auto=compress,format"
    imgAlt="Github icon"
  }}

  {{> listItem
    title="Your Communication"
    description=descSlack
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/398bc0a6-0e43-4e34-97a4-369f7b598d7f_drip_3_icon_2.png?auto=compress,format"
    imgAlt="Slack icon"
  }}

  {{> listItem
    title="Your Files"
    description=descCloud
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/cc2ac137-b337-43f5-80ab-96ad1e14dd43_drip_3_icon_3.png?auto=compress,format"
    imgAlt="Google Drive icon"
  }}

  {{> listItem
    title="Your Customer Support"
    description=descZendesk
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/e5a3a8c3-f587-4750-a941-5dd40ebb5d98_drip_3_icon_4.png?auto=compress,format"
    imgAlt="Story icon"
  }}

  <row>
    <columns>
      <center>
        <button href="https://clubhouse.io/integrations//?utm_source=email&utm_medium=ch&utm_campaign=onboarding&utm_term=integrations&utm_content={{utmContent}}" class="large small-expanded">Search all integrations</button>
      </center>
    </columns>
  </row>

</container>