<container class="card">

  <spacer size="40"></spacer>

  <row>
    <columns small="12" large="10" class="large-offset-1 no-padding-bottom">
      <h1 class="text-center">Tips for getting the most out of Clubhouse</h1>
    </columns>
    <columns small="12" large="1" class="show-for-large"></columns>
  </row>

  <row>
    <columns class="xtra-padding-horizontal no-padding-bottom">
      <spacer size="16"></spacer>
      <center>
        <img src="https://prismic-io.s3.amazonaws.com/clubhouse/75ad00ad-818c-4ecb-a875-21eba98f313c_drip_4_hero.png?auto=compress,format" width="375" height="194" alt="Clubhouse tips">
        <spacer size="16"></spacer>
        <p class="text-center text-light">
          Has it really been ten days since you signed up?
          <br />
          Feels like only nine days at most.</p>
        <p class="text-center text-light no-margin-bottom">
          We hope Clubhouse is even better than you expected,
          <br/>
          but if you need any help, here are some tips worth checking out:</p>
        <spacer size="16"></spacer>
      </center>
    </columns>
  </row>

  <row>
    <columns class="xtra-padding-horizontal">
      <hr class="hr"/>
    </columns>
  </row>

  {{> listItem
    title="Save Story Templates"
    description=descItemOne
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/60384017-8506-4a2e-b243-98588b80652f_drip_4_icon_1.png?auto=compress,format"
    imgAlt="Template icon"
  }}

  {{> listItem
    title="Do the drag and drop"
    description=descItemTwo
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/17180931-bb05-4b10-a57f-2d39f92c72fb_drip_4_icon_2.png?auto=compress,format"
    imgAlt="Drag and Drop icon"
  }}

  {{> listItem
    title="Change views"
    description=descItemThree
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/d08c847c-0367-41eb-9f79-5ce3290e6ca4_drip_4_icon_3.png?auto=compress,format"
    imgAlt="Views icon"
  }}


  {{> listItem
    title="Create Spaces"
    description=descItemFour
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/2d339b13-5b27-4290-a367-a2ec8dd602b7_drip_4_icon_4.png?auto=compress,format"
    imgAlt="Spaces icon"
  }}

  {{> listItem
    title="Use Keyboard Shortcuts"
    description=descItemFive
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/a18a50da-3f5a-4e63-b84e-a7587b4bd2cf_drip_4_icon_5.png?auto=compress,format"
    imgAlt="Keyboard icon"
    noBorder=true
  }}

</container>