<container class="card">

  <spacer size="40"></spacer>

  <row>
    <columns small="12" large="10" class="large-offset-1 no-padding-bottom">
      <h1 class="text-center">See how our building blocks fit together</h1>
    </columns>
    <columns small="12" large="1" class="show-for-large"></columns>
  </row>

  <center>
    <img src="https://prismic-io.s3.amazonaws.com/clubhouse/81c805b8-7467-469a-b07d-a8d93df0f7ba_drip_2_hero.png?auto=compress,format" alt="Projects & Epics">
  </center>

  <spacer size="36"></spacer>

  {{> listItem
    title="Stories - Track your tasks"
    description="Where most work gets done. There are three kinds: Features (yay), Bugs (oh no), and Chores (sure)."
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/5c887ad3-1f51-4c41-91df-abfe98cfe114_drip_2_icon_1.png?auto=compress,format"
    imgAlt="Story icon"
  }}

  {{> listItem
    title="Projects - Categorize your work"
    description="Map your Stories to software components, groups in your company, or any other kind of category you like."
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/e976c25f-3ed6-4584-8a56-9e0d78d738ab_drip_2_icon_2.png?auto=compress,format"
    imgAlt="Project icon"
  }}

  {{> listItem
    title="Epics - Manage your initiatives"
    description="Epics are collections of Stories that can span multiple projects, ensuring no work ends up silo'd."
    imgSrc="https://prismic-io.s3.amazonaws.com/clubhouse/af8c3354-4151-42a7-b1ec-037a67d4f05a_drip_2_icon_3.png?auto=compress,format"
    imgAlt="Epic icon"
    noBorder=true
  }}

</container>

<spacer size="24"></spacer>

<container class="card">

  <row>
    <columns small="12" large="2" class="show-for-large"></columns>
    <columns small="12" large="8">
      <spacer size="24"></spacer>
      <center>
        <img class="icon-48" src="https://prismic-io.s3.amazonaws.com/clubhouse/55f14939-3b14-4b04-b26b-a773a2b3cc49_drip_icon_video.png?auto=compress,format" width="45" height="33" alt="Video icon">
      </center>
      <spacer size="16"></spacer>
      <h2  class="text-center">Check out our building blocks video</h2>
      <p class="text-center text-light">Want to watch how Clubhouse works? Be sure to watch our video on how it all works!</p>
      <spacer size="16"></spacer>
      <center>
        <button href="https://clubhouse.io/webinars/training-building-blocks/?utm_source=email&utm_medium=ch&utm_campaign=onboarding&utm_term=getstarted&utm_content={{utmContent}}" class="large small-expanded">Get Started</button>
      </center>
    </columns>
    <columns small="12" large="2" class="show-for-large"></columns>
  </row>

</container>
