<container>
  <row class="collapsed footer">
    <columns>
      <center>
        <menu>
          <item><a href="https://github.com/clubhouse"><img class="icon-28" src="https://prismic-io.s3.amazonaws.com/clubhouse/62c78ab2-d08d-43cc-8075-645c948524bf_drip_social_github.png?auto=compress,format" width="24" height="24" alt="Github logo"></a></item>
          <item><a href="https://twitter.com/clubhouse"><img class="icon-28" src="https://prismic-io.s3.amazonaws.com/clubhouse/e3cbdc14-0eb8-4595-9d09-04107ee0f3c9_drip_social_twitter.png?auto=compress,format" width="24" height="24" alt="Twitter logo"></a></item>
          <item><a href="https://www.facebook.com/clubhousesoftware/"><img class="icon-28" src="https://prismic-io.s3.amazonaws.com/clubhouse/7cb46ea7-bcf2-4816-8d12-ea8e523b131b_drip_social_facebook.png?auto=compress,format" width="24" height="24" alt="Facebook logo"></a></item>
          <item><a href="https://www.linkedin.com/company/clubhouse-software-inc/"><img class="icon-28" src="https://prismic-io.s3.amazonaws.com/clubhouse/c64fba40-c88e-42c4-9906-dcc61888bf9d_drip_social_linkedin.png?auto=compress,format" width="24" height="24" alt="LinkedIn logo"></a></item>
        </menu>
      </center>
      <spacer size="24"></spacer>
      <p class="text-center text-footer">Clubhouse Software, Inc. -  45 W 27th St. Fl 3. New York, NY 10001 - <a class="footer-link" href="http://clubhouse.io/?utm_source=email&utm_medium=ch&utm_campaign=onboarding&utm_term=footer&utm_content={{utmContent}}">http://clubhouse.io</a></p>
      <p class="text-center text-footer">You were added to this list because you have signed up for the Clubhouse 14-day trial.</p>
      <menu class="footer-menu vertical">
        <item class="footer-menu-item"><a class="footer-link" href="[--INTERCOM-UNSUBSCRIBE-URL--]">UNSUBSCRIBE</a></item>
      </menu>
      <spacer size="24"></spacer>
    </columns>
  </row>
  <row>
    <columns>
      [--INTERCOM--CONTENT--]
    </columns>
  </row>

</container>

