<spacer size="24"></spacer>

<container class="header">
  <row class="collapse">
    <columns small="3"></columns>
    <columns small="6">
      
        <a href="https://app.clubhouse.io/?utm_source=email&utm_medium=ch&utm_campaign=onboarding&utm_term=logo&utm_content={{utmContent}}">
          <center>
            <img src="https://prismic-io.s3.amazonaws.com/clubhouse/734f7e8b-7682-4000-a0b1-36fbb570b056_drip_clubhouse_logo.png?auto=compress,format" width="236" height="38" alt="Clubhouse logo">
          </center>
          </a>

    </columns>
    <columns small="3"></columns>
  </row>

  <spacer size="8"></spacer>

</container>
